.ForecastDay {
  padding: 20px 12px;
  margin-bottom: 30px;
}
.ForecastDay .day {
  font-family: var(--secondary-font);
  font-weight: 900;
  color: var(--main-color);
  font-size: 18px;
  line-height: 2;
  margin: 0;
}
.ForecastDay .day-today {
  font-family: var(--main-font);
  font-weight: 900;
  color: var(--second-color);
  font-size: 18px;
  line-height: 2;
  margin: 0;
}
.ForecastDay .day-temp {
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--main-color);
  margin: 0;
}
.ForecastDay .day-temp-min {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .ForecastDay {
    padding: 10px 12px;
    margin-bottom: 10px;
  }
}
