.SearchEngine .fa-solid.fa-magnifying-glass {
  color: var(--background-color);
}
.SearchEngine input {
  font-family: var(--main-font);
  color: var(--background-color);
}
.SearchEngine .btn.btn-primary.blue {
  background: var(--second-color);
  border-color: var(--second-color);
}
.SearchEngine .form-control {
  background: var(--main-color);
  border-color: var(--main-color);
}
.SearchEngine .btn.btn-primary.blue:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.SearchEngine .cityLinks {
  padding: 10px 20px;
  background: var(--main-color);
  border-radius: 10px;
  margin: 0 0 30px;
}
.SearchEngine .cityLinks .link {
  padding: 0;
}
.SearchEngine .cityLinks a {
  text-decoration: none;
  font-size: 12px;
  font-family: var(--main-font);
  font-weight: 600;
  color: var(--background-color);
}
