.Footer {
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.Footer .footer-link {
  text-decoration: none;
  color: var(--second-color);
}
.Footer .footer-link:hover {
  color: var(--main-color);
}
.Footer .fa-github {
  font-size: 25px;
}

@media (max-width: 768px) {
  .Footer {
    margin-top: 40px;
  }
}
