:root {
  --main-font: "Kdam Thmor Pro", sans-serif;
  --secondary-font: monospace;
  --main-color: azure;
  --second-color: #fbb040;
  --background-color: #7c73e6;
}

.App .card {
  max-width: 750px;
  display: block;
  margin: 50px auto;
  background: var(--background-color);
}
.App .card-body {
  padding: 30px 20px 10px;
}
