.City .city {
  font-size: 40px;
  font-weight: bold;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: rgb(86, 31, 189);
  line-height: 1.2;
}
/* 
@media (max-width: 768px) {
  .City .city {
    font-size: 25px;
  }
} */
