.FullCurrent .full-current {
  padding: 12px 0;
}
.FullCurrent .icon {
  height: 65px;
  width: 65px;
}
.FullCurrent .cur-num {
  font-size: 36px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 900;
  color: rgb(4, 161, 4);
  line-height: 36px;
  padding-right: 4px;
}
.FullCurrent .temp-sign {
  text-decoration: none;
  font-size: 20px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 900;
  color: rgb(39, 97, 223);
  line-height: 53px;
}
.FullCurrent .vertical-slash {
  text-decoration: none;
  font-size: 20px;
  margin: 0 5px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 550;
  color: rgb(110, 109, 109);
  line-height: 53px;
}
