.FullCurrent canvas {
  height: 50px;
  width: 50px;
}
.FullCurrent .cur-num {
  font-size: 36px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 900;
  color: rgb(4, 161, 4);
  line-height: 1.2;
  padding-right: 4px;
}
.FullCurrent .temp-sign,
.unit {
  text-decoration: none;
  font-size: 20px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 900;

  line-height: 53px;
}
.FullCurrent .temp-sign {
  color: rgb(39, 97, 223);
}
.FullCurrent .unit {
  color: rgb(110, 109, 109);
}
.FullCurrent .vertical-slash {
  text-decoration: none;
  font-size: 20px;
  margin: 0 5px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 550;
  color: rgb(110, 109, 109);
  line-height: 53px;
}
@media (max-width: 768px) {
  .FullCurrent canvas {
    height: 30px;
    width: 30px;
  }
  .FullCurrent .cur-num {
    font-size: 22px;
  }
  .FullCurrent .temp-sign,
  .unit {
    font-size: 12px;
    line-height: 33px;
  }
  .FullCurrent .vertical-slash {
    font-size: 12px;
    line-height: 33px;
  }
}
