.OtherCharact .other-temp-character {
  font-size: 18px;
  font-family: monospace;
  font-weight: 600;
  color: rgb(110, 109, 109);
  line-height: 1.2;
}
.OtherCharact .other-temp-character p {
  margin: 0;
}
.OtherCharact .general-current-status {
  font-family: monospace;
  font-weight: 900;
  color: rgba(39, 97, 223, 0.8);
  font-size: 22px;
  line-height: 1.2;
}
.OtherCharact .general-current-status::first-letter {
  text-transform: capitalize;
}
/* 
@media (max-width: 768px) {
  .OtherCharact .other-temp-character {
    font-size: 14px;
  }
  .OtherCharact .general-current-status {
    font-size: 17px;
  }
} */
