.TimeUpdate .date {
  font-size: 18px;
  font-family: monospace;
  font-weight: 600;
  color: rgb(110, 109, 109);
  line-height: 1.2;
}

@media (max-width: 768px) {
  .TimeUpdate .date {
    font-size: 14px;
  }
}
